{% extends 'base.html.twig' %}

{% block title %}Nouveau soin - PetVeto{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4">🩺 Ajouter un nouveau soin</h1>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_row(form.animal) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.weight) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.vaccinationDate) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.examDate) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.veto) }}
        </div>
        {{ include('care/_form.html.twig', { form: form }) }}        
        <div class="d-flex gap-2 mt-3 mb-3">
            <button type="submit" class="btn btn-primary">✅ Enregistrer le soin</button>
        </div>

        <a href="{{ path('app_veto_home') }}" class="btn btn-secondary">⬅️ Retour à l’accueil</a>      
    {{ form_end(form) }}

    {% if form.veto is defined and form.veto.vars.choices is empty %}
        <div class="alert alert-warning mt-4 text-center">
            ⚠️ Aucun vétérinaire enregistré.<br>
            <a href="{{ path('veto_new') }}" class="btn btn-outline-primary mt-2">
                ➕ Ajouter un vétérinaire
            </a>
        </div>
    {% endif %}
    
</div>
{% endblock %}

