{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.species) }}
    <div class="form-group" id="customSpeciesContainer" style="display: none;">
        {{ form_row(form.customSpecies) }}
    </div>
    

    {{ form_row(form.description) }}
    <div class="form-group" id="customDescriptionContainer" style="display: none;">
        {{ form_row(form.customDescription) }}
    </div>

    <button type="submit" class="btn btn-primary">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const toggleField = (selectField, containerId) => {
            const container = document.getElementById(containerId);

            const checkVisibility = () => {
                if (selectField.value === "autre") { 
                    container.style.display = "block";
                } else {
                    container.style.display = "none";
                    const input = container.querySelector("input");
                    if (input) input.value = "";
                }
            };

            if (selectField && container) {
                checkVisibility();
                selectField.addEventListener("change", checkVisibility);
            }
        };

        toggleField(document.querySelector("[name='animal[species]']"), "customSpeciesContainer");
        toggleField(document.querySelector("[name='animal[description]']"), "customDescriptionContainer");
    });
</script>
