{% extends 'base.html.twig' %}

{% block title %}Ajouter un animal - PetVeto{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header bg-success text-white text-center">
                    <h2 class="mb-0">Ajouter un nouvel animal 🐾</h2>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    
                    <div class="mb-3">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.birthday) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.weight) }}
                    </div>
                    {{ include('animal/_form.html.twig', { form: form }) }}
                    <div class=" mt-4">
                        <button type="submit" class="btn btn-success">✅ Valider l'ajout</button>
                    </div>

                    {{ form_end(form) }}
                </div>


            <div class="text-center mt-3">
                <a href="{{ path('app_user_home') }}" class="btn btn-outline-primary">🏠 Retour à l'accueil</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

